*{
	margin: 0px !important;
	padding: 0px !important;
}

.formulario{
	width: 80%;
	height: 80%;
	display: block;
	margin: auto;
	position: relative;
	left: 300px;
	top: 300px;
}

.formulario labeL, input{
	top: 30%;
	left: 40%;
}

.condiciones{
	background-color: grey;
}
