body.container{
	background-color: red;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.canvas{
	width: 90%;
	height: 75%;
	background-color: black !important;
	position: absolute;
	top: 10%;
	right: 5%
	bottom: ;
	left: 5%;
}

.back{
	background-color: black;
	position: absolute;
	top: ;
	right: ;
	bottom: 5%;
	left: ;
}

.back button{
	background-color: grey;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
	border-color: white;
	transition-duration: 0.4s;
}

.back button a{
	color: white;
}

.back button a:hover{
	font-weight: bold;
}
