/* GENERAL 
   ======= */
*{
  margin: 0;
  padding: 0;
}
head{

}
body{
  background-color: white;
}
button{

}
button:hover, 
button:active{

}
a{
  text-decoration: none !important;
}
a:hover, 
a:active{
  text-decoration: none !important;
}

.page-header{
  /* cabecera de la página web, dentro del body */
}

header{
  padding-top: 40px;
  padding-bottom: 40px;
}
/* INTRODUCTION
   ============ */

.seccion-1{
  padding: 75px;
}
@media (max-width: 300px){
  .seccion-1{
    width: 100%;
  }
}
.container-foto{
}
.foto{
  max-width: 200px;
}
.short-bio{
  right: 0px;
}

/* CURRICULUM VITAE 
   ================ */

.seccion-2{
  /* CV */
  padding: 75px;
}

@media (max-width: 300px){
  .section-2{
    width: 100%;
  }
}

.accordion{
  background-color: grey !important;
}

.titulo{
  color: black;
}
.titulo:hover,
.titulo:active{
  text-decoration: none;
  color: red;
}

/* DIVULGATIO
   ========== */

.section-3{
  /* Mathematical-stuff */
}
.divulgacion{
  padding: 75px;
}
@media (max-width: 300px){
  .divulgacion{width: 100%;}
}

.active{
  /* elemento activo en la sección de divulgación */
  background-color: grey !important;
  border-color: white !important;
}
.list-group-item{
  background-color: white;
}
.list-group-item-action{
  background-color: white;
}
.list-group-item-action:hover,
.list-group-item-action:active{
  background-color: white;
}


/* CONTACT 
   ======= */

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
 /* background: #2b2b2b; */
  background-color: red;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
 /* background: #7682cc;
  color: #ffffff;
 */ 
  background-color: yellow;
}

/* FOOTER 
   ====== */
.footer{
  padding: 75px;
}

@media (max-width: 300px){
  .footer{width: 100%;}
}