/* INFORMATION:
   ============

   - COLORS:
     -------
     · Soft grey: F9F7F6
     · Soft blue 1: 4A6BCC
     · Soft blue 2: 9DB4F7
     · Soft blue 3: 6E8EEA
     · Medium blue 1: 445A99

    - REFERENCES:
      -----------
     ·(1) https://htmlcolorcodes.com/es/

*/

html, body {
  /* General properties . */
    background: #4A6BCC; /*#E7E7E7;*/
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* en principiio no está en uso */
#auth-container {
    background: grey;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#main-navbar {
    background: grey;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.nav-item-custom-css{
    /* custom style css for the nav-items. */
    min-width: 40px;
    border: 20px;
    margin: auto;
    padding: 20px;
}
/* no se está usando ahora, pero lo reutilizaré para cuando el blog esté en funcionamiento */
.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}


.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #1d5e72;;
}

/* Deberé ver si eto lo reutilizaré o lo eliminaré */
#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

/* aparentemente si uso a partir de ahora */
#user-posts #post-thumb {
    background: #fff;
}
