{% extends "base.html" %}

{% block head_content %}

	<title>The Graph</title>

{% endblock %}

<!DOCTYPE html>

{% block container %}

<div>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">
											{{ post.post_title }}
										</h2>

										<p class="card-text text-muted h6">
											{{ post.post_author }} | {{ post.post_created_on }}
										</p>

										<p class="card-text">
											{{ post.post_content | slice:":200" }}
										</p>

										<a href="{% url 'blog:post_detail' post.slug %}"
										   class="btn btn-primary">
											 Read More &rarr;
										</a>
										
                </div> <!-- end card-body -->
            </div> <!-- end card mb-4 --->

            {% endfor %}
        </div> <!-- end col-md-8 -->
    </div> <!-- end row -->
</div>



{% include "sidebar.html" %}

</div>
{% endblock %}
