{% extends "base.html" %}

{% block head_content %}

	<title>The Graph: {{ post.post_title }}</title>

{% endblock %}

<!DOCTYPE html>

{% block container %}

<div>

	{% block content %}

	<div class="container">
	  <div class="row">

	    <div class="col-md-8 card mb-4  mt-3 left  top">
	      <div class="card-body">

	        <h1>
						no funcionará hasta que añada la conexión con los users!!
						{% block title %}
							{{ object.post_title }}
						{% endblock title %}
					</h1>

					<!-- ####################### -->
					<h4 class="color:red !important">
						{{ post.user.get_full_name }}
					</h4>
					<!-- ####################### -->

					<p class=" text-muted">
						{{ post.post_author }} | {{ post.post_created_on }}
					</p>

					<p class="card-text ">
						{{ object.post_content | safe }}
					</p>

				</div> <!-- end card-body -->
			</div> <!-- end col-md-8 -->

	  </div> <!-- end row -->
	</div> <!-- end container -->

	{% endblock content %}


</div>
{% endblock %}
