 {% load static %}

<nav class="navbar navbar-expand-lg fized-top" id="main-navbar">

	<div class="container">

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">

				<!-- Homepage -->
				<li class="nav-item nav-item-custom-css">
					<button>
						<a href="{% url "index" %}"> 
							Home
						</a>
					</button>
				</li>

				<!-- Blog access -->
				<li class="nav-item nav-item-custom-css">
					<button>
						<a href="{% url "blog:feed" %}">
							Blog
						</a>
					</button>
				</li>

				<!-- Projects list -->
				<li class="nav-item nav-item-custom-css">
					<button>
						<a href="{% url "projects:projects_feed" %}">
							Projects
						</a>
					</button>
				</li>

        <!-- About me -->
        <li class="nav-item nav-item-custom-css">
          <button>
            <a href="{% url "about" %}"> 
              About
            </a>
          </button>
        </li>

			</ul>


		</div>
	</div>
</nav>
