{% load static %} <!-- no sé si será necesario -->

<style>
  .card{
    box-shadow: 0 16px 48px #E3E7EB;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">

  <div class="card my-4">

    <h5 class="card-header">
        NEWS!
    </h5>

    <div class="card-body">

      <p class="card-text">
          MOSTRARé el último artículo.
      </p>
      <a href="#" class="btn btn-danger">
        Know more!
      </a>

      <p class="card-body">
        Aquí el último proyecto qui´zas?
      </p>
      <a href="#" class="btn btn-danger">
        Know more!
      </a>


    </div> <!-- end card-body -->

  </div> <!-- end card my-4 -->
</div> <!-- end col-md-4 float-right -->
