{% extends "base.html" %}

{% block head_content %}

	<title>The Graph</title>

{% endblock %}

<!DOCTYPE html>

{% block container %}

<div>

<div class="container">
    <div class="row">

			<!-- Project Entries Column -->
			<div class="col-md-8 mt-3 left">

				{% for project in project_list %}

				<div class="card mb-4">
					<h2 class="card-title">{{ project.title }}</h2>
					osdiandnoa
				</div> <!-- end card -->

				{% endfor %}
			</div>


    </div>
</div>



{% include "sidebar.html" %}

</div>
{% endblock %}
