{% extends "base.html" %}

{% block head_content %}

	<title>The Graph</title>

{% endblock %}

<!DOCTYPE html>

{% block container %}

<div>

<div class="container">
    <div class="row">

			<!-- Project Entries Column -->
			<div class="col-md-8 mt-3 center">

				{% for project in project_list %}

					{% if project.project_status != 0 %}   <!-- does not show project that are nor ready -->
						<div class="card mb-4">
							<div class="card-body">
								<h2 class="card-title"> {{ project.project_title }} </h2>

								{% if project.project_miniature %}
								<img class="mr-3 rounded-circle"
										 height="35"
									   src="{{ project.project_miniature.url }}"
									   alt="{{ project.project_title }}"/>
								{% endif %}

								<p class="card-text text-muted h6"> {{ project.project_author }} </p>
								<p class="card-text text-muted h6"> {{ project.project_collaborator_1 }} </p>
								<p class="card-text text-muted h6"> {{ project.project_collaborator_2 }} </p>

								<p class="card-text"> {{ project.project_abstract }} </p>

								<p class="card-text text-muted h6">
									<strong>Status: </strong>
									{% if project.project_status == 2 %} Closed {% endif %}
									{% if project.project_status == 1 %} Opened {% endif %}
								</p>

								<a href="{% url 'projects:project_detail' project.project_slug %}"
								   class="btn btn-primary">
									 Know more!!
								</a>

							</div> <!-- end card-body -->
						</div> <!-- end card -->
					{% endif %}
				{% endfor %}
			</div>


    </div>
</div>

</div>
{% endblock %}
