{% extends "base.html" %}

{% block head_content %}

  <title>The Graph: {{ project.title }}</title>

{% endblock %}

<!DOCTYPE html>

{% block container %}
<div class="container">
  <div class="row"">
    <div class="col-md-8 card mb-4 mt-3 center top"> <!-- Reescribir este container -->

    <h1> {{ project.project_title }} </h1>

    <h6> <strong> Author: </strong> {{project.project_author }} </h6>
    {% if project.project_collaborator_1 %}
    <h6> <strong> Collaborator: </strong> {{ project.project_collaborator_1 }} </h6>
    {% endif %}
    {% if project.project_collaborator_2 %}
    <h6> <strong> Collaborator: </strong> {{ project.project_collaborator_2 }} </h6>
    {% endif %}

    <h6> <strong> Description:</strong> </h6>
    <p> {{ project.project_description }} </p>

    <!-- Espacio para imágenes y demás, relativas a la descipción. -->

    <h6> <strong> Key-Words: </strong>
      {{ project.project_key_word_1 }}
      {% if project.project_key_word_2 %}, {{ project.project_key_word_2 }} {% endif %}
      {% if project.project_key_word_2 %}, {{ project.project_key_word_3 }} {% endif %}
      {% if project.project_key_word_2 %}, {{ project.project_key_word_4 }} {% endif %}
      {% if project.project_key_word_2 %}, {{ project.project_key_word_5 }} {% endif %}
    </h6>

    <!-- AHORA EMPIEZA EL PROYECTO, probablemente lo dividiré en otro u otros archivos -->




    </div> <!-- end col-md-8 -->
  </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}








<!--    {#
#}-->
